@using Initium.Portal.Web.Infrastructure.PageModels
@{
    var title = ViewData["Title"] != null ? $"{ViewData["Title"]} | Stance" : "Stance";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="~/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon-16x16.png">
    <link rel="manifest" href="~/site.webmanifest">
    <title>@title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css" integrity="sha256-3sPp8BkKUE7QyPSl6VfBByBroQbKxKG7tsusY2mhbVY=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
    <link href="~/vendors-styles.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/vendors.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/theme.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/app.css" rel="stylesheet" asp-append-version="true" />
    @RenderSection("styles", false)

</head>
<body class="@ViewData["page-class"]">
    @if (ViewData["PageNotifications"] is IReadOnlyList<NotificationPageModel.PageNotification> notifications)
    {
        foreach (var pageNotification in notifications)
        {
            <span data-page-notification data-message="@pageNotification.Message" data-type="@pageNotification.PageNotificationType"></span>
        }
    }

    @RenderBody()

    <script src="~/vendors.js.gz" asp-append-version="true"></script>
    <script src="~/theme.js.gz" asp-append-version="true"></script>
    <script src="~/commons.js.gz" asp-append-version="true"></script>
    <script src="~/app.js.gz" asp-append-version="true"></script>
    @RenderSection("scripts", false)
</body>
</html>
