@page "/app/tenants/edit/{id}"
@using Initium.Portal.Core.Extensions
@using Initium.Portal.Web.Infrastructure.Constants
@using Initium.Portal.Web.Management.Infrastructure.Constants
@using Microsoft.AspNetCore.Mvc.RazorPages
@model Initium.Portal.Web.Management.Pages.App.Tenants.EditTenant

@{
    Layout = "Shared/_AppLayout";
    ViewData["Title"] = $"Tenants | Editing {Model.Tenant.Name}";
}

<div class="row page-titles">
    <div class="align-self-center col-md-7 col-12 pl-0">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-page="@CorePageLocations.AppDashboard">Home</a></li>
            <li class="breadcrumb-item"><a asp-page="@PageLocations.TenantListing">Tenants</a></li>
            <li class="breadcrumb-item active">Editing Tenant @Model.Tenant.Name</li>
        </ol>
    </div>
    <div class="col-md-5 col-12 align-self-center d-flex justify-content-end pr-0 mt-2 mt-md-0 pr-0">
        <a class="btn btn-sm btn-secondary text-white mr-2" asp-page="@PageLocations.TenantView" asp-route-id="@Model.PageModel.TenantId">Cancel</a>
        <button class="btn btn-sm btn-info text-white" type="submit" form="page-form">Save</button>        
    </div>
</div>

<form method="post" id="page-form" class="form-material pl-0 pr-0 row">
    <input type="hidden" asp-for="PageModel.TenantId"/>
    <div class="col-md-7">
        <div class="card card-outline-info">
            <div class="card-body">
                <h4 class="card-title">Details</h4>

                <div class="form-group">
                    <label asp-for="PageModel.Name"></label>
                    <input class="form-control" type="text" asp-for="PageModel.Name" data-name/>
                    <span class="text-danger small" asp-validation-for="PageModel.Name"></span>
                </div>

                <div class="form-group">
                    <label asp-for="PageModel.Identifier"></label>
                    <input class="form-control" readonly asp-for="PageModel.Identifier" data-identifier/>
                    <span class="text-danger small" asp-validation-for="PageModel.Identifier"></span>
                </div>


            </div>
        </div>
    </div>
    
    <div class="col-md-5">
        <div class="card card-outline-info">
            <div class="card-body">
                <h4 class="card-title">Tenant Activity</h4>
                
                <h5 class="card-subtitle">Logins</h5>
                @if (Model.Tenant.HasLoggingInfo)
                {
                    <span class="text-muted">Authentication Date</span>
                    <h6 class="mb-3">@Model.Tenant.WhenLoggedIn</h6>

                    <span class="text-muted">Authenticated User</span>
                    <h6 class="mb-3">Model.Tenant.LastLoggedInUser</h6>
                }
                else
                {
                    <h6 class="mb-3">No logins recorded</h6>
                }
            </div>
        </div>
        
        <div class="card card-outline-info">
            <div class="card-body">
                <h4 class="card-title">Features</h4>
                @foreach (var feature in Model.Features)
                {
                    <div>
                        <input type="checkbox" id="feature-@(feature)" name="PageModel.SystemFeatures" value="@feature" class="material-inputs filled-in" @(Model.PageModel.SystemFeatures.Contains(feature) ? "checked" : "")>
                        <label for="feature-@(feature)">@feature.GetDisplay()</label>
                    </div>    
                }
            </div>
        </div>
    </div>


</form>

@section Scripts{
    <script src="~/tenant-create.js.gz" asp-append-version="true"></script> 
}