@using Initium.Portal.Web.Infrastructure.Constants
@model Initium.Portal.Web.Management.Components.TopNav.TopNavViewModel
@addTagHelper *, GravatarHelper.AspNetCore
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
<header class="topbar">
    <nav class="navbar top-navbar navbar-expand-md navbar-light">
        <div class="navbar-header">
            <a class="navbar-brand" href="@Url.Page(CorePageLocations.AppDashboard)">
                <b><img src="~/logo-icon.png" alt="homepage" /></b>
                <span><img src="~/logo-text.png" alt="homepage" /></span>
            </a>
        </div>
        <div class="navbar-collapse">
            <ul class="navbar-nav mr-auto mt-md-0">
                <li class="nav-item"> <a class="nav-link nav-toggler d-none d-md-block text-muted waves-effect waves-dark"><i class="fa fa-bars"></i></a> </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item dropdown" id="nav-notifications" data-af-token="@Xsrf.GetAndStoreTokens(Context).RequestToken" data-odata-root="@CoreODataLocations.Root" data-read-item-uri="@Url.RouteUrl("ViewedNotificationEndpoint")">
                    <a  class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false"> <i class="fa fa-comment"></i>
                        @if (this.Model.HasUnreadNotifications)
                        {
                            <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
                        }
                    </a>
                    <div class="dropdown-menu dropdown-menu-right mailbox scale-up">
                        <ul class="list-style-none">
                            <li>
                                <div class="border-bottom rounded-top py-3 px-4">
                                    <h5 class="mb-0 font-weight-medium">Notifications</h5>
                                </div>
                            </li>
                            <li>
                                <div class="message-center notifications position-relative" @* style="height:250px;" *@>
                                     

                                </div>
                            </li>
                            <li>
                                <a class="nav-link border-top text-center text-dark pt-3" href="@Url.Page(CorePageLocations.UserNotifications)"> <strong>Check all notifications</strong> <i class="fa fa-angle-right"></i> </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-muted" href=""
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img gravatar-email="@Model.EmailAddress" gravatar-size="30" alt="user" class="profile-pic"/>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right scale-up">
                        <ul class="dropdown-user">
                            <li><a href="@Url.Page(CorePageLocations.AppProfileDetails)"><i class="fa fa-address-card"></i> My Profile</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="@Url.Page(CorePageLocations.AuthSignOut)"><i class="fa fa-power-off"></i> Logout</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>