@page "/app/profile/my-details"
@using Stance.Web.Infrastructure.Constants
@{
    this.Layout = "Shared/_AppLayout";
    ViewData["Title"] = "Profile | Details";
}
@model Stance.Web.Pages.App.Profile.Details

<div class="row page-titles">
    <div class="align-self-center pl-0 col-md-7 col-12">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-page="@PageLocations.AppDashboard">Home</a></li>
            <li class="breadcrumb-item">Profile</li>
            <li class="breadcrumb-item active">My Details</li>
        </ol>
    </div>
    <div class="col-md-5 col-12 align-self-center d-flex justify-content-end pr-0 mt-2 mt-md-0 pr-0">
        <button class="btn btn-sm btn-info text-white" type="submit" form="details">Save</button>        
    </div>
</div>
    <div class="row">
        @await Component.InvokeAsync("ProfilePanel")
        <div class="col-md-9 col-12 pl-md-2 pr-md-0 pl-1 pr-1">
            <div class="card">
                
                    <ul class="nav nav-tabs profile-tab" role="tablist" id="profileTabs">
                        <li class="nav-item"> <a class="nav-link active" role="tab" asp-page="@PageLocations.AppProfileDetails">My Details</a> </li>
                        <li class="nav-item"> <a class="nav-link" role="tab" asp-page="@PageLocations.ChangePassword">Password</a> </li>
                        <li class="nav-item"> <a class="nav-link" role="tab" asp-page="@PageLocations.EnrollAuthenticatorApp">Authenticator App</a> </li>
                        <li class="nav-item"> <a class="nav-link" role="tab" asp-page="@PageLocations.SecurityKeys">Security Keys</a> </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" role="tabpanel">
                            <div class="card-body row">
                                
                                <form class="form-horizontal form-material col-md-7 col-12" method="post" id="details">
                                    <div class="form-group">
                                        <label asp-for="PageModel.FirstName"></label>
                                        <input class="form-control form-control-line" asp-for="PageModel.FirstName">
                                        <span class="text-danger small" asp-validation-for="PageModel.FirstName"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="PageModel.LastName"></label>
                                        <input class="form-control form-control-line" asp-for="PageModel.LastName">
                                        <span class="text-danger small" asp-validation-for="PageModel.FirstName"></span>
                                    </div>
                                </form>
                                <div class="col-md-5 col-12">
                                    <div class="helpful-info">
                                        <h3>Helpful Information</h3>
                                        <h4>Email Address</h4>
                                        <p>You're email address is your unique ID in the system and therefore you cannont change it. If you want to change please contact our support team at <a href="mailto:support@example.com">support@example.com</a> </p>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                
            </div>
        </div>
    </div>
