@page "/app/profile/change-password"
@using Stance.Web.Infrastructure.Constants
@model Stance.Web.Pages.App.Profile.Password
@{ this.Layout = "Shared/_AppLayout"; }

<div class="row page-titles">
    <div class="align-self-center pl-0 col-md-7 col-12">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-page="@PageLocations.AppDashboard">Home</a></li>
            <li class="breadcrumb-item">Profile</li>
            <li class="breadcrumb-item active">Password</li>
        </ol>
    </div>
    <div class="col-md-5 col-12 align-self-center d-flex justify-content-end pr-0 mt-2 mt-md-0 pr-0">
        <button class="btn btn-sm btn-info text-white" type="submit" form="change-password">Update Password</button>        
    </div>
</div>


    <div class="row">
        @await Component.InvokeAsync("ProfilePanel")
        <div class="col-lg-8 col-xlg-9 col-md-7  pl-md-2 pr-md-0 pl-1 pr-1">
            <div class="card">
                <div class="card">
                    <ul class="nav nav-tabs profile-tab" role="tablist" id="profileTabs">
                        <li class="nav-item"> <a class="nav-link" role="tab" asp-page="@PageLocations.AppProfileDetails">My Details</a> </li>
                        <li class="nav-item"> <a class="nav-link active" role="tab" asp-page="@PageLocations.ChangePassword">Password</a> </li>
                        <li class="nav-item"> <a class="nav-link" role="tab" asp-page="@PageLocations.EnrollAuthenticatorApp">Authenticator App</a> </li>
                        <li class="nav-item"> <a class="nav-link" role="tab" asp-page="@PageLocations.SecurityKeys">Security Keys</a> </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="change-password" role="tabpanel">
                            <div class="card-body">
                                <form method="post" class="form-horizontal form-material" id="password">
                                    <div class="form-group">
                                        <label asp-for="PageModel.OldPassword"></label>
                                        <input asp-for="PageModel.OldPassword" class="form-control form-control-line" type="password">
                                        <span class="text-danger small" asp-validation-for="PageModel.OldPassword"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="PageModel.NewPassword"></label>
                                        <input asp-for="PageModel.NewPassword" class="form-control form-control-line" type="password">
                                        <span class="text-danger small" asp-validation-for="PageModel.NewPassword"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="PageModel.ConfirmPassword"></label>
                                        <input asp-for="PageModel.ConfirmPassword" class="form-control form-control-line" type="password">
                                        <span class="text-danger small" asp-validation-for="PageModel.ConfirmPassword"></span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
