@page "/app/user-management/users/edit/{id}"
@using Stance.Web.Infrastructure.Constants
@model Stance.Web.Pages.App.UserManagement.Users.EditUser
@{
    Layout = "Shared/_AppLayout";
}

<div class="row page-titles">
    <div class="align-self-center col-md-7 col-12 pl-0">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-page="@PageLocations.AppDashboard">Home</a></li>
            <li class="breadcrumb-item">User Management</li>
            <li class="breadcrumb-item"><a asp-page="@PageLocations.UserListing">Users</a></li>
            <li class="breadcrumb-item active">Editing User @Model.Name</li>
        </ol>
    </div>
    <div class="col-md-5 col-12 align-self-center d-flex justify-content-end pr-0 mt-2 mt-md-0 pr-0">
        <a class="btn btn-sm btn-secondary text-white mr-2" asp-page="@PageLocations.UserView" asp-route-id="@Model.PageModel.Id">Cancel</a>
        <button class="btn btn-sm btn-info text-white" type="submit" form="edit-user">Save</button>        
    </div>
</div>

<form method="post" asp-route-id="@Model.PageModel.Id" class="form-material row pl-0 pr-0" id="edit-user" >
    <input type="hidden" asp-for="PageModel.Id"/>
    <div class="col-md-7 pl-md-0 pr-md-2 pl-1 pr-1">
        <div class="card card-outline-info">
            <div class="card-body">
                <h4 class="card-title">Details</h4>

                <div class="form-group">
                    <label asp-for="PageModel.EmailAddress"></label>
                    <input class="form-control" asp-for="PageModel.EmailAddress" />
                    <span class="text-danger" asp-validation-for="PageModel.EmailAddress"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PageModel.FirstName"></label>
                    <input class="form-control" asp-for="PageModel.FirstName" />
                    <span class="text-danger" asp-validation-for="PageModel.FirstName"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PageModel.LastName"></label>
                    <input class="form-control" asp-for="PageModel.LastName" />
                    <span class="text-danger" asp-validation-for="PageModel.LastName"></span>
                </div>
                <div class="form-check pl-0">
                    <input asp-for="PageModel.IsLockable" class="form-check-input filled-in" type="checkbox" data-val="false">
                    <label class="form-check-label" asp-for="PageModel.IsLockable"></label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5 pl-md-2 pr-md-0 pl-1 pr-1">
        <div class="card card-outline-info">
            <div class="card-body">
                <h4 class="card-title">Roles</h4>
                <div class="form-check pl-0">
                    <input asp-for="PageModel.IsAdmin" class="form-check-input filled-in" type="checkbox" data-val="false">
                    <label class="form-check-label" asp-for="PageModel.IsAdmin"></label>
                </div>
                <div class="form-group">
                    <label asp-for="PageModel.Roles"></label>
                    <select multiple class="form-control" asp-for="PageModel.Roles" asp-items="Model.AvailableRoles"></select>
                </div>
            </div>
        </div>
    </div>    
</form>
