@page "/app/user-management/roles/create"
@using Initium.Portal.Web.Infrastructure.Constants
@model Initium.Portal.Web.Pages.App.UserManagement.Roles.CreateRole
@{
    Layout = "Shared/_AppLayout";
    ViewData["Title"] = "Roles | Create";
}


<div class="row page-titles">
          <div class="align-self-center pl-0 col-md-7 col-12">
              <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a asp-page="@PageLocations.AppDashboard">Home</a></li>
                  <li class="breadcrumb-item">User Management</li>
                  <li class="breadcrumb-item"><a asp-page="@PageLocations.RoleListing">Roles</a></li>
                  <li class="breadcrumb-item active">Create Role</li>
              </ol>
          </div>
          <div class="col-md-5 col-12 align-self-center d-flex justify-content-end pr-0 mt-2 mt-md-0">
                  <a class="btn btn-sm btn-secondary text-white mr-2" asp-page="@PageLocations.RoleListing">Back to Listing</a>
                  <button class="btn btn-sm btn-info text-white" type="submit" form="role-create">Save</button>        
              </div>
      </div>

    <form method="post" id="role-create" class="form-material pl-0 pr-0 row" data-no-auto-validation>
        @foreach (var resource in Model.PageModel.Roles)
        {
            <input type="hidden" name="pagemodel.resources" value="@resource" />
        }
        
            <div class="col-md-7">
                <div class="card card-outline-info">
                    <div class="card-body">
                        <h4 class="card-title">Details</h4>
                    
                        <div class="form-group">
                            <label asp-for="PageModel.Name"></label>
                            <input class="form-control" asp-for="PageModel.Name" />
                            <span class="text-danger small" asp-validation-for="PageModel.Name"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-5">
                <div class="card card-outline-info">
                    <div class="card-body">
                        <h4 class="card-title">Resources</h4>                    
                        <div id="tree" data-route="@Url.RouteUrl( "GetNestedResourcesEndpoint")"></div>
                    </div>
                </div>
            </div>
    </form>


@section scripts
{
    <script src="~/role-create.js.gz" asp-append-version="true"></script>
}
