@page "/app/user-management/roles/edit/{id}"
@using Initium.Portal.Web.Infrastructure.Constants
@model Initium.Portal.Web.Pages.App.UserManagement.Roles.EditRole
@{
    Layout = "Shared/_AppLayout";
    ViewData["Title"] = $"Roles | Editing {Model.Name}";
}
<div class="row page-titles">
    <div class="align-self-center pl-0 col-md-7 col-12">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-page="@CorePageLocations.AppDashboard">Home</a></li>
            <li class="breadcrumb-item">User Management</li>
            <li class="breadcrumb-item"><a asp-page="@CorePageLocations.RoleListing">Roles</a></li>
            <li class="breadcrumb-item active">Editing Role @Model.Name</li>
        </ol>
    </div>
    <div class="col-md-5 col-12 align-self-center d-flex justify-content-end pr-0 mt-2 mt-md-0 pr-0">
        <a class="btn btn-sm btn-secondary text-white mr-2" asp-page="@CorePageLocations.RoleView" asp-route-id="@Model.PageModel.RoleId">Cancel</a>
        <button class="btn btn-sm btn-info text-white" type="submit" form="page-form">Save</button>        
    </div>
</div>
<form method="post" data-no-auto-validation id="page-form" class="form-material row pl-0 pr-0">
    <input type="hidden" asp-for="PageModel.RoleId" />
    @foreach (var resource in Model.PageModel.Resources)
    {
        <input type="hidden" name="pagemodel.resources" value="@resource" />
    }
    
        <div class="col-md-7">
            <div class="card card-outline-info">
                <div class="card-body">
                    <h4 class="card-title">Details</h4>
                    <div class="form-group">
                        <label asp-for="PageModel.Name"></label>
                        <input class="form-control" asp-for="PageModel.Name" />
                        <span class="text-danger small" asp-validation-for="PageModel.Name"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-5">
            <div class="card card-outline-info">
                <div class="card-body">
                    <h4 class="card-title">Resources</h4>
                    <div id="tree" data-route="@Url.RouteUrl( "GetNestedResourcesEndpoint")"></div>
                </div>
            </div>
        </div>
    
</form>

@section scripts
{
    <script src="~/role-edit.js" asp-append-version="true"></script>
}
