@using Initium.Portal.Web.Infrastructure.Constants
<aside class="left-sidebar">
    <div class="scroll-sidebar">
        <nav class="sidebar-nav">
            <ul id="sidebarnav" class="in">
                <li><a class="waves-effect waves-dark" href="@Url.Page(PageLocations.AppDashboard)" aria-expanded="false"><i class="fa fa-tachometer"></i>&nbsp;<span class="hide-menu">Dashboard </span></a></li>
                <li class="nav-small-cap">USER MANAGEMENT</li>
                <li>
                    <a class="waves-effect waves-dark" href="@Url.Page(PageLocations.UserListing)" aria-expanded="false"><i class="fa fa-users"></i>&nbsp;<span class="hide-menu">Users </span></a>
                </li>
                <li>
                    <a class="waves-effect waves-dark" href="@Url.Page(PageLocations.RoleListing)" aria-expanded="false"><i class="fa fa-key"></i>&nbsp;<span class="hide-menu">Roles</span></a>
                </li>
                <li class="nav-small-cap">SYSTEM CONFIGURATION</li>
                <li>
                    <a class="waves-effect waves-dark" href="@Url.Page(PageLocations.SystemAlertListing)" aria-expanded="false"><i class="fa fa-users"></i>&nbsp;<span class="hide-menu">System Alerts</span></a>
                </li>
                <li>
                    <a class="waves-effect waves-dark" href="@Url.Page(PageLocations.SystemAlertListing)" aria-expanded="false"><i class="fa fa-users"></i>&nbsp;<span class="hide-menu">System Alerts</span></a>
                </li>
                <li>
                    <a class="waves-effect waves-dark" href="@Url.Page(PageLocations.SystemAlertListing)" aria-expanded="false"><i class="fa fa-users"></i>&nbsp;<span class="hide-menu">System Alerts</span></a>
                </li>
                <li>
                    <a class="waves-effect waves-dark" href="@Url.Page(PageLocations.SystemAlertListing)" aria-expanded="false"><i class="fa fa-users"></i>&nbsp;<span class="hide-menu">System Alerts</span></a>
                </li>
                <li>
                    <a class="waves-effect waves-dark" href="@Url.Page(PageLocations.SystemAlertListing)" aria-expanded="false"><i class="fa fa-users"></i>&nbsp;<span class="hide-menu">System Alerts</span></a>
                </li>
                <li>
                    <a class="waves-effect waves-dark" href="@Url.Page(PageLocations.SystemAlertListing)" aria-expanded="false"><i class="fa fa-users"></i>&nbsp;<span class="hide-menu">System Alerts</span></a>
                </li>
                <li>
                    <a class="waves-effect waves-dark" href="@Url.Page(PageLocations.SystemAlertListing)" aria-expanded="false"><i class="fa fa-users"></i>&nbsp;<span class="hide-menu">System Alerts</span></a>
                </li>
                <li>
                    <a class="waves-effect waves-dark" href="@Url.Page(PageLocations.SystemAlertListing)" aria-expanded="false"><i class="fa fa-users"></i>&nbsp;<span class="hide-menu">System Alerts</span></a>
                </li>
                <li>
                    <a class="waves-effect waves-dark" href="@Url.Page(PageLocations.SystemAlertListing)" aria-expanded="false"><i class="fa fa-users"></i>&nbsp;<span class="hide-menu">System Alerts</span></a>
                </li>
                <li>
                    <a class="waves-effect waves-dark" href="@Url.Page(PageLocations.SystemAlertListing)" aria-expanded="false"><i class="fa fa-users"></i>&nbsp;<span class="hide-menu">System Alerts</span></a>
                </li>
                <li>
                    <a class="waves-effect waves-dark" href="@Url.Page(PageLocations.SystemAlertListing)" aria-expanded="false"><i class="fa fa-users"></i>&nbsp;<span class="hide-menu">System Alerts</span></a>
                </li>
                
            </ul>
        </nav>
    </div>
    <div class="sidebar-footer">
        <a href="@Url.Page(PageLocations.AuthSignOut)" class="link" data-toggle="tooltip" title="Logout"><i class="fa fa-power-off"></i></a>
    </div>
    <!-- End Bottom points-->
</aside>